<div class="grid grid-cols-3">
  <app-product
    title="Product 1"
    [price]="100"
    img="https://picsum.photos/300?r=21"
    (addToCart)="fromChild($event)"
  />
  <app-product
    title="Product 2"
    [price]="200"
    img="https://picsum.photos/300?r=22"
    (addToCart)="fromChild($event)"
  />
  <app-product
    title="Product 3"
    [price]="300"
    img="https://picsum.photos/300?r=23"
    (addToCart)="fromChild($event)"
  />
  <app-product
    title="Product 4"
    [price]="400"
    img="https://picsum.photos/300?r=24"
    (addToCart)="fromChild($event)"
  />
  <app-product
    title="Product 5"
    [price]="500"
    img="https://picsum.photos/300?r=25"
    (addToCart)="fromChild($event)"
  />
</div>
